@page
@model CustomerCarePortal.Pages.Tickets.IndexModel
@{
}
<h1 class="fs-1">All Tickets</h1>
<br />
<table class="table-active table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Description)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Tickets is not null)
        {
            @foreach (var item in @Model.Tickets)
            {
                <!--If it's admin and team is not assingned yet that means new arrival-->
                @if (@Model.flag == 1)
                {
                    @if (@item.TeamAssigned is null)
                    {
                        <tr class="bg-warning bg-opacity-25">
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td style="width:30%;">
                                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>&nbsp;
                                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i>&nbsp; Delete</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td style="width:30%;">
                                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>&nbsp;
                                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i>&nbsp; Delete</a>
                            </td>
                        </tr>
                    }
                }
                else if (@Model.flag == 2)
                {
                    <!-- If it's team manager and agent  is not assigned yet that means new arrival-->
                    @if (@item.AgentAssigned is null)
                    {
                        <tr class="bg-warning bg-opacity-25">
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td style="width:30%;">
                                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>&nbsp;
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td style="width:30%;">
                                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>&nbsp;
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="width:30%;">
                            <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>&nbsp;
                        </td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td class="fs-3 text-success">
                    No Work Yet Have some Coffee :)
                </td>
            </tr>
        }
    </tbody>
</table>