@page
@model CustomerCarePortal.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-outline-success" asp-page="Create">Create New Team</a>
</p>
<table class="table table-active table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Team)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td style="width:30%;">
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>&nbsp;
                    <a class="btn btn-outline-light" asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-ticket-detailed"></i>&nbsp; Details</a> &nbsp;
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i>&nbsp; Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
